body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #222;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #eee;
  width: 40%;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #eee;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ccc;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #eee;
  box-sizing: border-box;
}

.error-message {
  color: #ff4d4d;
  font-size: 0.9em;
  margin-top: 5px;
}

.validation-icon {
  float: right;
  margin-top: -25px;
  margin-right: 5px;
  font-size: 1.2em;
}

.valid {
  color: #4caf50;
}

.invalid {
  color: #ff4d4d;
}

.password-strength-container {
  background-color: #444;
  height: 15px;
  border-radius: 4px;
  margin-top: 5px;
  overflow: hidden;
  width: 97%;
}

.password-strength-bar {
  height: 100%;
  width: 0%;
  border-radius: 4px;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.password-strength-bar.weak {
  background-color: red;
}

.password-strength-bar.medium {
  background-color: orange;
}

.password-strength-bar.strong {
  background-color: green;
}

.password-strength-text {
  font-size: 0.8em;
  color: #ccc;
  text-align: right;
  margin-top: 3px;
}

button {
  background-color: #5cb85c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4cae4c;
}

.animate-switch {
  animation: switch-mode 0.5s;
}

@keyframes switch-mode {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}