body {
  background: linear-gradient(135deg, #a5a5a5, #151f2a);
  font-family: Arial, sans-serif;
}

.grid-box {
  width: 45vw;
  height: 65vh;
  background-color: #ffffff;
  border: 2px solid #dee2e6;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  height: 100%;
  gap: 2px;
  padding: 4px;
}

.img-cell {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  transition: transform 0.2s ease;
  perspective: 1000px;
}

.img-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.img-cell.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 4px;
}

.card-front img,
.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-back {
  transform: rotateY(180deg);
}

.img-cell:hover {
  transform: scale(1.05);
}

.custom-btn {
  height: 50px;
  padding: 0 30px;
  font-size: 1.1rem;
  border-radius: 12px;
}

#score {
  margin-left : 20px;
  font-size : 48px;
  font-weight: bold;
}