body {
    background: linear-gradient(135deg, #a5a5a5, #151f2a);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    caret-color: transparent !important;
    text-align: center;
  }
  
  #main-container {
    border: 2px solid #dee2e6;
    border-radius: 12px;
    background-color: #ffffff20; /* léger fond blanc semi-transparent */
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 3%;
    text-align: center;
  }
  
  #custom-title {
    font-size: 5rem;
    font-weight: bolder;
    color: #007bff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  footer {
    background-color: #1a1a1a;
    padding: 15px 0;
    text-align: center;
    font-size: 0.9rem;
    color: #aaa;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 34px;
  }
  